.footer {
  font-weight: bold;
  padding-left:0px;
  padding-right:0px;

  button{
    background-color: $primary;
    outline:none;
    border:none;
    padding: 0px;

    &.with-margin{
      margin-left: .5em;
    }
  }

  svg {
    height: $header-svg-size;
    width: $header-svg-size;
  }

  .settings-item{
    width:$header;
    text-align:center;

    & .logo-margin{
      margin-left: 1em;
    }
  }

  @media (max-width:$break-xs){
    button{
      font-size:$header-font-min;
    }
  }
}