.footer {
  font-weight: bold;
  padding-left:0px;
  padding-right:0px;

  button{
    background-color: $primary;
    outline:none;
    border:none;
    padding: 0px;
  }

  svg {
    height:2em;
    width:3em;
  }


  @media (max-width:$break-xs){

    button{
      padding: 0px;
      font-size:$header-font-min;
    }

    svg {
      height:1em;
      width:2em;
    }
  }
}