.navbar {
    background-color: $primary;
    color:white;
    height: $header;
    font-size: $header-font;
    font-weight: 500;

    &.shared{
        left: $header;
        background-color: $alt-blue;
    }

    .signout-btn{
        background-color: $primary;
        border: none;
        outline:none;

        svg {
            height:1.5em;
            width:1.5em;
            
        }

        &.shared{
            background-color: $alt-blue;
        }
    }

    .brand-logo {
        padding: 0px;
        height: $header;
        line-height: $header;
    }
    .nav-item {
        margin:0px;
        background-color: $primary;
    }

    .nav-title{
        height: $header;
        line-height: $header;

        img{
            height: 30px;
            // margin-top: 12px;
            margin-right: 0px !important;
            margin-bottom: 5px;
        }
    }


    @media (max-width:$break-xs){
            // height: $header-min;
            font-size: $header-font-min;

            &.shared{
                left: $header-min;
            }

            .nav-title{
                height: $header-min;
                line-height: $header-min;
        
                img{
                    height: 15px;
                    margin-top: 2px;
                    margin-right: 5px;
                }
            }
            
            .signout-btn{
                padding-bottom: 0px;
                padding-top: 0px;
                margin-bottom:4px;
                svg {
                    height:1em;
                    width:1em;
                    
                }
            }

            .nav-item {
                width: 50px;
            }

    }

}
