.menu-left {
  background-color: $primary;
  height: 100%;
  width: $header;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: $header;

  svg {
    color: $secondary;
    height: $header-svg-size;
    width: $header-svg-size;
  }

  &.replenishment {
    background-color: $green;
  }

  &.adjustments {
    background-color: $orange;
  }

  &.psa {
    background-color: $primary;
  }

  button {
    background-color: $orange;
    height: $header;
    width: $header;
    line-height: $header;
    height: $header;
    border: none;
    border-bottom: 1px solid $background;
  }

  @media (max-width: $break-xs) {
    padding-top: $header-min;
    width: $header-min;

    // .new-link {
    //     height: $header-min;
    //     width: $header-min;

    button {
      height: auto;
      width: $header-min;
      padding-top: 0px;
    }

    svg {
      height: 1em;
      width: 1em;
    }
    // }
  }
}
