.menu-left{
    background-color: $primary;
    height: 100%;
    width: $header;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right: 1px solid $background;
    padding-top: $header;

    &.replenishment{
        background-color: $green;
    }

    &.adjustments{
        background-color: $orange;
    }

    &.psa{
        background-color: $primary;
    }

    .new-link{
        background-color:$orange;
        height: $header;
        width: $header;
    }


    @media (max-width:$break-xs){
        padding-top: $header-min;
        width: $header-min;

        .new-link {
            height: $header-min;
        }
    }
}