.action-screen{
  margin-top: $header;
  margin-left: $header;
  margin-bottom: $header + 1em;

  .page-header {
    line-height: $header;
    height: $header;
    text-align: center;
    font-size: $header-font;
    color: $dark-grey;
  }


  .tab-section{
    margin-top:15px
  }

  form {
    display: flex;
    button {
      background-color: $primary;
      color: $secondary;
      font-weight:500;
      height: 3.125em;
    }

    input{
      height: 3.125em;
      font-weight:500;
    }
  }

  .action-btn {
    margin-top: .3em;
    margin-bottom: 3em;
    font-size: 2em;
    width: inherit;
    background-color: $dark-grey;
    border: none;

    &.replenishment{
      background-color: $replenishment;
    }

    &.adjustments{
      background-color: $adjustments;
    }

    &.psa{
      background-color: $psa;
    }

    #overlay-action-btn {
        position: absolute;
        background-color:rgba(255,255,255, .2);
        /*dim the background*/
        margin-top: .4em;
        margin-left: .58em;
        margin-right: .56em;
        top:0;
        left:0;
        width: -webkit-fill-available;
        height:20%;
        color:black;
        text-align: center;
        border-radius: .1em;
    }


  }

  table{
    margin-bottom:0.063em;

    th {
      background-color:$light-blue;
      color: $dark-grey;
      &.psa{
        background-color:$primary;
        color: $secondary;
        font-weight: 500;
      }
    }

    td{
      background-color: $secondary;
      color: $dark-grey;
    }
  }


  @media (max-width:$break-xs){
    margin-left: $header-min;
    margin-bottom: $header-min + .5em;
    margin-top: $header-min;

    .page-header {
      font-size: $header-font-min;
    }
     
    form {
      button,input {
        font-size: $header-font-min;
      }
    }
    th,td {
      padding: .3rem;
    }

    .action-btn {
      font-size: $header-font-min;
      margin-bottom: 8em;

      #overlay-action-btn {
        margin-top: .6em;
        margin-left: 2em;
        margin-right: 2em;
        height:12%;
        border-radius: .25em;
    }
    }
  }  
}