.action-screen{
  margin-top: $header;
  margin-left: $header;
  margin-bottom: $header + 1em;

  .page-header {
    line-height: $header;
    height: $header;
    text-align: center;
    font-size: $header-font;
    color: $dark-grey;
  }


  .tab-section{
    margin-top:15px
  }

  form {
    display: flex;
    button {
      background-color: $primary;
      color: $secondary;
      font-weight:500;
      height: 3.125em;
    }

    input{
      height: 3.125em;
      font-weight:500;
    }
  }

  .action-btn {
    margin-top: 10em;
    width: inherit;
    background-color: $dark-grey;
    border: none;

    &.replenishment{
      background-color: $replenishment;
    }

    &.adjustments{
      background-color: $adjustments;
    }

    &.psa{
      background-color: $psa;
    }


  }

  table{
    margin-bottom:0.063em;

    th {
      background-color:$light-blue;
      color: $dark-grey;
      &.psa{
        background-color:$primary;
        color: $secondary;
        font-weight: 500;
      }
    }

    td{
      background-color: $secondary;
      color: $dark-grey;
    }
  }


  @media (max-width:$break-xs){
    margin-left: $header-min;
    margin-bottom: $header-min + .5em;
    margin-top: $header-min;

    .page-header {
      font-size: $header-font-min;
    }
     
    form {
      button,input {
        font-size: $header-font-min;
      }
    }
    th,td {
      padding: .3rem;
    }

    .action-btn {
      font-size: $header-font-min;
    }
  }  
}