$primary: #0A57BA;
$alt-blue: #022B96;
$secondary: #FFFFFF;
$background: #EAEAEA;
$light-blue: #B2DAFF;
$dark-grey: #6B6B6B;
$orange: #e47605;
$green: #1d9703;
$yellow: #FFFE94;

$break-xs: 320px; //iphone 5
$break-sm: 375px; //iphone x
$break-md: 1024px; //ipad pro 
$break-lg: 1200px;  

$header-min: 2.125em;
$header: 3.750em;

$header-font:  1em;
$header-font-mid: 0.625em;
$header-font-min: .23em;

$menu-button-height-min: 1.625em;
$menu-button-height: 2.625em;

$one_unit: 0.063em;

