.main-menu {
  // margin-top: $header;
  margin-bottom: $header;
  margin-left: $one-unit;
  margin-right: $one-unit;


  .menu-btn{
    // height: $menu-button-height;
    background-color: $secondary;
    color: #434343;
    width:100%;
    border-radius: .02em;
    // margin: $one-unit;
  }

  @media (max-width:$break-xs){
    // margin-top: $header-min;
    margin-bottom: $header-min;

    .menu-btn{
      height: $menu-button-height-min;
      font-size: 10px;
    }

  }
}