.main-menu {
  margin-top: $header;
  margin-bottom: $header;
  margin-left: $one-unit;
  margin-right: $one-unit;

  .menu-btn {
    background-color: $secondary;
    color: $dark-grey;
    width: 100%;
    border-radius: 0.02em;
    margin-top: $one-unit;
    margin-bottom: $one-unit;
    border: none;
    font-weight: 500;
  }

  @media (max-width: $break-xs) {
    margin-top: $header-min;
    margin-bottom: $header-min;

    .menu-btn {
      font-size: 10px;
    }
  }
}
